body{
  background-color: #ffd900;
}

.app {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  background-color: #6bff6d;
  -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px #000000;
}

.app{
  flex: 1 100%;
}

.cclogo{
padding-top: 35px;
padding-left: 60px;
height: 500px;
  

}
.score-board{
 text-align: center;
 font-size: 20px;
 font-family: "Gill Sans", sans-serif;
 color: #115500;
 
}

.game {
  border: #ff2222;
  border-style: outset;
  border-width: 10px;
  border-radius: 5px;
  width: 560px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 70px;
  height: 70px;
}